<IfModule mod_rewrite.c>
RewriteEngine On

# Stop processing if already in the /public directory
RewriteRule ^public_html/ - [L]

# Static resources if they exist
RewriteCond %{DOCUMENT_ROOT}/public_html/$1 -f
RewriteRule (.+) public_html/$1 [L]

# Route all other requests
RewriteRule (.*) public_html/index.php?route=$1 [L,QSA]
</IfModule>